[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/fuzzyfinder_textmate"]
	path = bundle/fuzzyfinder_textmate
	url = https://github.com/namedpipe/fuzzyfinder_textmate.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
